@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }

  .footer-subscribe-frame {
    min-width: 396px;
  }
  .mob-tel-contacts-link {
    font-size: 36px;
    letter-spacing: 0.72px;
  }
  .mob-menu-soc-list {
    gap: 56px;
  }
  .modal {
    width: 408px;
  }
}
/* ----------------------------------------------------tab */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header-container {
    justify-content: unset;
  }
  .nav-menu {
    display: flex;
    align-items: center;
  }
  .nav-item {
    display: flex;
    max-width: 261px;
    gap: 40px;
  }

  .nav-link {
  }

  .nav-link-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
    padding: 24px 0;
    display: block;
    transition: color var(--transition-auto);
  }

  .nav-link-item:hover,
  .nav-link-item:focus {
    color: var(--pressed-color);
  }

  .contacts {
    font-style: normal;
    margin-left: auto;
    display: block;
  }

  .contacts-link {
    display: flex;
    gap: 40px;
  }

  .contacts .link {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: inherit;
    padding: 24px 0;
    display: block;
    transition: color var(--transition-auto);
  }

  .contacts .link:hover,
  .contacts .link:focus {
    color: var(--pressed-color);
  }

  .under-line {
    position: relative;
    color: var(--pressed-color);
  }

  .under-line::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--pressed-color);
    bottom: -1px;
  }
  .open-mob-btn {
    display: none;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-image-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-image-tab-2x.jpg);
    }
  }
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-transform: none;
  }
  .hero-btn {
    margin-top: 36px;
  }
  .advtg-list {
    gap: 24px;
  }

  .advtg-item {
    width: calc((100% - 24px) / 2);
  }
  .advtg-title {
    line-height: 1.11;
    text-align: start;
  }
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }

  .customers .container {
    max-width: 582px;
  }
  .customers-list {
    gap: 24px;
  }
  .customers-item {
    width: calc((100% - 48px) / 3);
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    max-width: 582px;
    gap: 24px;
  }
  .footer-logo {
    display: block;
    margin-right: auto;
  }

  .footer-subscribe-frame {
    gap: 24 px;
    flex-direction: row;
    margin-top: 56px;
    min-width: 453px;
  }

  .footer-subscribe-form {
    width: 264px;
  }
  .footer-subscribe-label {
    display: block;
    margin-left: auto;
  }
  .footer-subscribe-btn {
    min-width: 165px;
    /* margin: 0; */
  }
}
/* ------------------------------------------Cross position */

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .contacts-link {
    display: flex;
    gap: 12px;
    flex-direction: column;
  }
  .contacts .link {
    padding: 0;
  }
}

/* ------------------------------------------------Desctop */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .contacts .link {
    font-size: 16px;
  }

  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-image.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-image-2x.jpg);
    }
  }
  .hero-btn {
    margin-top: 48px;
  }
  .advtg {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .advtg-item {
    width: calc((100% - 72px) / 4);
  }
  .advtg-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color);
    margin-bottom: 8px;
  }
  .advtg-text {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
  }

  .adtvg-icon-bg {
    display: flex;
  }
  .advtg-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .wedoing {
    display: flex;
  }
  .team {
    padding: 120px 0;
  }
  .team-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .team-card {
    width: calc((100% - 72px) / 4);
  }

  .customers .container {
    max-width: 1158px;
  }
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .customers-item {
    width: calc((100% - 120px) / 6);
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0;
  }
  .footer-logo-frame {
    margin-right: 120px;
    display: block;
  }
  .footer-soc-frame {
    margin-right: 80px;
  }
  .footer-soc-text {
    text-align: start;
  }
  .footer-subscribe-frame {
    margin-top: 0;
    gap: 0;
    flex-direction: row;
  }
  .footer-subscribe-label {
    display: block;
  }
  .footer-subscribe-input {
    width: 264px;
  }
  .footer-subscribe-btn {
    min-width: 165px;
  }
}
