@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }

  .footer-subscribe-frame {
    min-width: 396px;
  }
}
/* ----------------------------------------------------tab */
@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-transform: none;
  }
  .hero-btn {
    margin-top: 36px;
  }
  .advtg-list {
    gap: 24px;
  }

  .advtg-item {
    width: calc((100% - 24px) / 2);
  }
  .advtg-title {
    line-height: 1.11;
  }
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }

  .customers .container {
    max-width: 582px;
  }
  .customers-list {
    gap: 24px;
  }
  .customers-item {
    width: calc((100% - 48px) / 3);
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    max-width: 582px;
    gap: 24px;
  }
  .footer-logo {
    display: block;
    margin-right: auto;
  }

  .footer-subscribe-frame {
    gap: 24 px;
    flex-direction: row;
    margin-top: 56px;
    min-width: 453px;
  }

  .footer-subscribe-form {
    width: 264px;
  }
  .footer-subscribe-label {
    display: block;
    margin-left: auto;
  }
  .footer-subscribe-btn {
    min-width: 165px;
    /* margin: 0; */
  }
}
/* ------------------------------------------Cross position */

/* @media screen and (min-width: 319px) and (max-width: 767px) {
  .customers-item:nth-child(n + 3) {
    margin-top: 56px;
  }
} */

/* ------------------------------------------------Desctop */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .hero {
    padding: 188px 0;
  }

  .hero-btn {
    margin-top: 48px;
  }
  .advtg {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .advtg-item {
    width: calc((100% - 72px) / 4);
  }
  .advtg-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color);
    margin-bottom: 8px;
  }
  .advtg-text {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
  }

  .adtvg-icon-bg {
    display: flex;
  }
  .advtg-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .wedoing {
    display: flex;
  }
  .team {
    padding: 120px 0;
  }
  .team-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .team-card {
    width: calc((100% - 72px) / 4);
  }

  .customers .container {
    max-width: 1158px;
  }
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .customers-item {
    width: calc((100% - 120px) / 6);
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0;
  }
  .footer-logo-frame {
    margin-right: 120px;
    display: block;
  }
  .footer-soc-frame {
    margin-right: 80px;
  }
  .footer-soc-text {
    text-align: start;
  }
  .footer-subscribe-frame {
    gap: 0;
    flex-direction: row;
  }
  .footer-subscribe-label {
    display: block;
  }
  .footer-subscribe-input {
    width: 264px;
  }
  .footer-subscribe-btn {
    min-width: 165px;
    /* margin: 0; */
  }
}
